.chart {
    width: 100%;
    height: 500px;

    &.framework {
        width: 33%;
        height: 150px;
    }
}

.row {
    display: flex;
}

.col {
    width: 48%;
}

.react-tabs {
    width: 100%;
}