@font-face {
    font-family: Amplify;
    src: url("../fonts/Amplify.otf") format("opentype");
}

@font-face {
    font-family: BentonSans;
    src: url("../fonts/Benton_Sans-Book.otf") format("opentype");
}

body {
    font-family: BentonSans;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .loading__anim {
        width: 35px;
        height: 35px;
        border: 5px solid rgba(189, 189, 189, 0.25);
        border-left-color: rgb(235, 155, 57);
        border-top-color: rgb(235, 155, 57);
        border-radius: 50%;
        display: block;
        animation: rotate 600ms infinite linear;
    }

    p {
        display: block;
        position: absolute;
        margin-top: 45px;
        color: #333;
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}

