$transitionSpeed: 200ms ease-in-out;

.school-marker {
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid gray;
    background-color: white;
    transition: all $transitionSpeed;
}

.modal-content {
    width: 80vw;
    height: 80vh;
}

.modal-header {
    width: 100%;
    height: 40px;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
}

.charts-wrapper {
    height: 90vh;
    overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity $transitionSpeed;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}