$transitionSpeed: 200ms ease-in-out;

.school-marker {
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid gray;
    background-color: white;
    transition: all $transitionSpeed;
}

.modal-content {
    width: 90vw;
    height: 90vh;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity $transitionSpeed;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}